
@{
    ViewBag.Title = "View";
}

<h2>View for Example2Controller</h2>

@Html.ActionLink("Permanent Redirect", "PermanentRedirect", "Example2")

@Html.ActionLink("Temporary Redirect", "TemporaryRedirect", "Example2")
@Html.ActionLink("Temporary Redirect 1", "TemporaryRedirect1", "Example2")
@Html.ActionLink("Temporary Redirect 2", "TemporaryRedirect2", "Example2")
@Html.ActionLink("Temporary Redirect 3", "TemporaryRedirect3", "Example2")

@Html.ActionLink("File Result", "FileResult", "Example2")
@Html.ActionLink("Json Result", "JsonResult", "Example2")