@model IEnumerable<Aiko.Models.Example>

@{
    ViewBag.Title = "Index";
}

<h2>The best chefs in the world</h2>
We are showing the best chefs in the world!
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)            @*@Html.Raw(item.City)*@ @*does not HTML encode the text*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
                @item.Rating                                        @*implicit code expression*@
                @item.Rating / 10                                   @*show "/ 10" as literal text*@
                @(item.Rating / 10)                                 @*explicit code expression - explicitly denote what c# code is - divide Rating by 10*@
                R@item.Rating                                       @*special case - for email addresses*@
                R@(item.Rating)                                     @*prefix rating with "R"*@
                @@twitterHandle                                     @*@twitterHandle does not work (error "The name 'twitterHandle' does not exist in the current context"),
                                                                            needs to be escaped to be shown properly*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
